<?xml version="1.0"?>
<launch>
<!--启动gazebo节点并加载机器人到gazebo里面-->
  <!-- 传给gazebo启动的参数 -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find jaka_description)/urdf/jaka_description.urdf"/>

  <!-- 启动空的gazebo空间 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- 加载robot_description -->
  <param name="robot_description" command="cat $(arg model)" />

  <!-- 将机器人加载到gazebo中 -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

  <!--node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher"
    respawn="false" output="screen" >
  <remap from="/joint_states" to="/jakaUr/joint_states" />
    <param name="publish_frequency" type="double" value="30.0" />
  </node-->

</launch>
