<launch>
	
   <include file="$(find jaka_hand_config)/launch/demo_move.launch">
   </include>
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- GDB Debug Option -->
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
     value="gdb -x $(find panda_moveit_config)/launch/gdb_settings.gdb --ex run --args" />

  <node name="planner" pkg="moveit_client" type="planner" respawn="false" launch-prefix="$(arg launch_prefix)" output="screen">
  </node>
  <node name="robot_action" pkg="moveit_client" type="robot_action" output="screen">
  </node>
  


</launch>
